html, body {
  background-color: 
#1a1c28;
  margin: 0;
  padding: 0;
}

#grid {
  width: 800px;
  height: 70vh;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "r r r r y y"
      "r r r r y y"
      "g g g ba ba ba"
  "g g g bb bb bb"
  ;
  grid-gap: 10px;
}


.red {
  background-color: 
#eb5020;
  grid-area: r;
}

.yellow {
  background-color: 
#ffa401;
  grid-area: y;
 
}

.green {
  background-color: 
#05aa42;
  grid-area: g;
  
}

.blue {
  background-color: 
#01aefd
}

.one {
  grid-area: ba;
  
}

.two {
grid-area: bb;
}

main {
  margin: 20px;
}

a {
  width: auto;
  height: auto;
  background-color: 
white;
  color: 
black;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 700;
  border: none;
  box-shadow: 0 0 15px 
#00ffff;
  display: inline-grid;
  justify-self: center;
  align-self: center;
}

.info {
    font-family: cursive;
    background-color: white;
    color: red; 
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 500;
    display: inline-flex;
}
